<h1>プロフィール編集</h1>

<%= form_for @user, url: update_profile_path, method: :patch, html: { multipart: true } do |f| %>
  <!-- 名前 -->
  <div class="field">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <!-- アイコン画像（画像アップロード） -->
  <div class="field">
    <%= f.label :icon, "アイコン画像" %><br>
    <%= f.file_field :icon %> <!-- ファイルアップロードフィールド -->
    <% if @user.icon.present? %>
      <p>現在のアイコン:</p>
      <%= image_tag @user.icon.url, size: "100x100" %> <!-- アップロード済みの画像を表示 -->
    <% end %>
  </div>

  <!-- 自己紹介 -->
  <div class="field">
    <%= f.label :bio, "自己紹介" %><br>
    <%= f.text_area :bio %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
